.custom-block
  &.tip
    // tip is a tip, not warning or error,
    // but in the original theme it has orange color
    // I did it cloudlinux-like-blue here
    background-color: #2b98f04d !important;
  &.warning
    // like with tip, our warning messages
    // had red color, like errors
    // who knows why, but let's make them orange finally
    background-color: #fff4de !important;
